<header>
  <%if(userInfo==="User"){%>
  <Button><a href="/login" >
    Login / Register
  </a>
  </Button>
  <%}else{%>
  Hi <%=userInfo.name%>,
  <a href="/my-collection">My Collection</a>
  <a href="/logout">Logout</a>
  <%}%>
</header>