body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.login-register a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

.login-register {
    display: block;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.search-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.movie-poster-container {
    text-align: center;
}

.movie-poster-image {
    max-width: 600px;
    /* Adjust the maximum width as needed */
    max-height: 800px;
    /* Adjust the maximum height as needed */
    border: 2px solid #000;
    /* Black border with 2px width */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.movie-name {
    margin-top: 10px;
    font-weight: bold;
}

.buttons-container {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}